.detail {
    text-align: center;
    display: flex;
    align-content: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
.detail title{
    text-align: center;
    font-style:italic;
}
.detail address{
    font-size: larger;
}
.detail p{
    font-size:medium;
}

.detail img{
width: 100%;
height: auto;
}
