form {
  margin: 0 17px;
  display: flex;
  width: auto;
  height: 7.5rem;
  background-color: #2a2c26;
  color: white;
  border-radius: 27px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-content: space-around;
}