.new-expense__controls {
  color: rgb(165, 185, 46);
  font-size: 1rem;
  font-weight: bold;
  width: 490px;
  padding: 25px 25px 0px 65px;
}
.new-expense {
  width: max-content;
  margin: auto;
}
.top-modal-btn{
  margin: 30px 2px 2px 2px;
  color: rgb(165, 185, 46);
  font-size: 1rem;
  font-weight: bold;
  padding: 25px 25px 0px 65px;
  width: max-content;
  margin: auto;
}
