.card {
  background-color: rgb(56, 42, 42);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(41, 25, 33);
  width: auto;
}

h2.exp-calc-name {
  font-size: 2rem;
  width: fit-content;
  margin-left: 150px;
  margin-inline: auto;
  background: rgb(201 201 201);
  background-color: rgb(61, 50, 50);
  color: rgb(168, 90, 73);
  margin-block-end: auto;
  padding: 0.5%;
  border: 6px solid #b5b5b5;
  border-radius: 12px;
}

.app-edit-button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #a84401;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}
